body {
    background-image: url(img/fondo.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;

}

.fondoPag {
    background-color: #FBDF7E;
}

a{
    display:block;          /*opciones del menú en línea*/
    padding:8px;            /*acolchado entre las distintas opciones*/
    text-decoration: none;  /*eliminamos subrayado del enlace*/
    font-size: 12pt;        /*tamaño de la fuente*/
    font-family:  Arial, Helvetica, sans-serif;  /*tipo de fuente*/
    color:darkorange;
    margin-left: 20px;
    font-weight: bold;
}

.carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.carousel-caption {
    color: black;
    font-weight: bold;
}